.body {
    background-color: #efefef;
    width: 100%;

}
.container {
    min-height: 100vh;
}

.slogan {
    font-family: Stylish;
    color: #2D3D9099;
}

@media screen and (min-width: 769px){

.background {
    background: url(../public/background.png) no-repeat;
    background-position: center top;
    background-size: 100%;


}
.webtopbox {
    width: 100%;
    height:calc((100vw / 1890) * 900);
}
.flexbox {
    width: 100%;
    /* position: absolute;
    top:86vh; */
    display: flex;
    justify-content: center;
}
.btncontainer {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25vw;
    
}

.btn {
    margin: 0 auto;
    width: 15vw;
 }

.slogan {
    widows: 25vw;
    font-size: 1.3vw;
    line-height: 2vw;
    letter-spacing: 0.04em;
    margin:10px auto 0;
    
}
}


@media screen and (max-width: 768px){

    .body {
        height: 100vh;
    }
    .background {
        background: url(../public/webbg.png) no-repeat;
        background-size:100%;
       
        
    }
    .webtopbox {
        width: 100%;
        height:calc((100vw / 1890) * 3100);
    }
    .flexbox {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .btn {
        width: 60vw;
        margin: 0 auto;
    }
    .slogan { 
        height: 5vh;
        font-size: 4vw;
        line-height: 2vw;
        letter-spacing: 0.04em;
        margin: 40px auto 0;
        text-align: center;
        
    }

}